# International Football Matches Between 1872 And 2024

#   1. Introduction
##  1.1 Imports, Server Connection & DB Set Up

### 1.1.1 Imports

In [251]:
from configparser import ConfigParser

import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import text

### 1.1.2 Creating config.ini

In [252]:
# config als Beispieldatei hochladen
# andere auf ignore

In [253]:
config = ConfigParser()
config.read('config.ini')

['config.ini']

### 1.1.3 Connection to football_db

In [ ]:
# Erstellung von football_db in SQL-Console und Connection über SQLAlchemy

In [3]:
connection_str = f'postgresql://postgres:{config['local_postgres']['password']}@localhost/postgres'

engine = sqlalchemy.create_engine(connection_str, isolation_level="AUTOCOMMIT")

In [4]:
connection = engine.connect()

In [5]:
connection.execute(text("""CREATE DATABASE football_db;"""))

ProgrammingError: (psycopg2.errors.DuplicateDatabase) FEHLER:  Datenbank »football_db« existiert bereits

[SQL: CREATE DATABASE football_db;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [6]:
engine.dispose()
connection.close()

In [7]:
connection_str = f'postgresql://postgres:{config['local_postgres']['password']}@localhost/football_db'

engine = sqlalchemy.create_engine(connection_str, isolation_level="AUTOCOMMIT")

In [8]:
connection = engine.connect()

### 1.1.4 DataFrames for results, goalscorers & shootouts

In [254]:
goalscorers = pd.read_csv('goalscorers.csv')
results = pd.read_csv('results.csv')
shootouts = pd.read_csv('shootouts.csv')

### 1.1.5 Table Creation

In [39]:
# connection.execute(text('DROP TABLE IF EXISTS '))

In [255]:
# Creating results
results.to_sql('results', connection, index='index')
connection.commit()

ValueError: Table 'results' already exists.

In [256]:
# Creating goalscorers
goalscorers.to_sql('goalscorers', connection, index='index')
connection.commit()

ValueError: Table 'goalscorers' already exists.

In [257]:
# Creating shootouts
shootouts.to_sql('shootouts', connection, index='index')
connection.commit()

ValueError: Table 'shootouts' already exists.

In [34]:
### Closure of connection
engine.dispose()
connection.close()

# 2. Data Processing

## 2.1 Extracting Data

In [32]:
results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
46284,2024-02-07,Ivory Coast,DR Congo,1,0,African Cup of Nations,Ebimpé,Ivory Coast,False
46285,2024-02-07,Nigeria,South Africa,1,1,African Cup of Nations,Bouaké,Ivory Coast,True
46286,2024-02-10,Qatar,Jordan,3,1,AFC Asian Cup,Lusail,Qatar,False
46287,2024-02-10,South Africa,DR Congo,0,0,African Cup of Nations,Abidjan,Ivory Coast,True
46288,2024-02-11,Ivory Coast,Nigeria,2,1,African Cup of Nations,Ebimpé,Ivory Coast,False

### 2.1.1 Creating column 'result' in results

In [258]:
connection.execute(text('''
                        ALTER TABLE results
                        ADD COLUMN IF NOT EXISTS result NUMERIC;
                        '''))

# In column results '1' represents a home team win. '-1' an away team win and '0' a draw.
connection.execute(text('''
                        UPDATE results
                            SET result = CASE
                                             WHEN home_score - away_score > 0 THEN 1
                                             WHEN home_score - away_score < 0 THEN -1
                                             ELSE 0
                                         END;
                        '''))

In [259]:
query = ('''
        CREATE TABLE IF NOT EXISTS temp_results AS
        SELECT 
            index,
            date,
            home_team,
            away_team,
            home_score,
            away_score,
            result,
            tournament,
            city,
            country,
            neutral
        FROM results
        ;''')

In [260]:
connection.execute(text(query))

In [261]:
connection.execute(text('''
                        DROP TABLE IF EXISTS results;
                        '''))
connection.execute(text('''
                        ALTER TABLE IF EXISTS temp_results
                            RENAME TO results;
                        '''))

In [262]:
query = ''' SELECT team,
                   SUM(total_friendlies) AS total_friendlies
            FROM (SELECT home_team AS team,
                         count(*)  AS total_friendlies
                  FROM results
                  WHERE tournament = 'Friendly'
                  GROUP BY home_team
                  UNION ALL
                  SELECT away_team AS team,
                         count(*) AS total_friendlies
                  FROM results
                  WHERE tournament = 'Friendly'
                  GROUP BY away_team)
                     AS subquery
            GROUP BY team
            ORDER BY total_friendlies DESC;
        '''

In [263]:
# Most friendlies played
pd.read_sql(query, connection)

                        team  total_friendlies
0                    Germany             586.0
1                    Hungary             573.0
2                     Sweden             548.0
3                     Poland             533.0
4                     France             492.0
..                       ...               ...
284                 Cascadia               1.0
285              Elba Island               1.0
286                   Surrey               1.0
287  United Koreans of Japan               1.0
288                     Gozo               1.0

[289 rows x 2 columns]

### 2.1.2 Who profits from friendlies

### 2.2.1 Does the venue of the biggest tournaments play a role for the teams?

In [40]:
results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
46284,2024-02-07,Ivory Coast,DR Congo,1,0,African Cup of Nations,Ebimpé,Ivory Coast,False
46285,2024-02-07,Nigeria,South Africa,1,1,African Cup of Nations,Bouaké,Ivory Coast,True
46286,2024-02-10,Qatar,Jordan,3,1,AFC Asian Cup,Lusail,Qatar,False
46287,2024-02-10,South Africa,DR Congo,0,0,African Cup of Nations,Abidjan,Ivory Coast,True
46288,2024-02-11,Ivory Coast,Nigeria,2,1,African Cup of Nations,Ebimpé,Ivory Coast,False

In [38]:
# Getting unique tournaments
query = connection.execute(text(''' SELECT DISTINCT tournament FROM results;'''))
tournament_list = []
for cup in query.all():
    # print(cup)
    tournament_list.append(cup)
sorted(tournament_list)

[('ABCS Tournament',),
 ('AFC Asian Cup',),
 ('AFC Asian Cup qualification',),
 ('AFC Challenge Cup',),
 ('AFC Challenge Cup qualification',),
 ('AFF Championship',),
 ('AFF Championship qualification',),
 ('Africa Cup of Nations qualification',),
 ('African Cup of Nations',),
 ('African Cup of Nations qualification',),
 ('Afro-Asian Games',),
 ('Amílcar Cabral Cup',),
 ('Arab Cup',),
 ('Arab Cup qualification',),
 ('Asian Games',),
 ('Atlantic Cup',),
 ('Atlantic Heritage Cup',),
 ('Balkan Cup',),
 ('Baltic Cup',),
 ('Beijing International Friendship Tournament',),
 ('Benedikt Fontana Cup',),
 ('Bolivarian Games',),
 ('Brazil Independence Cup',),
 ('British Home Championship',),
 ('CAFA Nations Cup',),
 ('CCCF Championship',),
 ('CECAFA Cup',),
 ('CFU Caribbean Cup',),
 ('CFU Caribbean Cup qualification',),
 ('CONCACAF Championship',),
 ('CONCACAF Championship qualification',),
 ('CONCACAF Nations League',),
 ('CONCACAF Nations League qualification',),
 ('CONIFA Africa Football Cup',),
 ('CONIFA Asia Cup',),
 ('CONIFA European Football Cup',),
 ('CONIFA South America Football Cup',),
 ('CONIFA World Football Cup',),
 ('CONIFA World Football Cup qualification',),
 ('CONMEBOL–UEFA Cup of Champions',),
 ('COSAFA Cup',),
 ('COSAFA Cup qualification',),
 ('Central European International Cup',),
 ('ConIFA Challenger Cup',),
 ('Confederations Cup',),
 ('Copa América',),
 ('Copa América qualification',),
 ('Copa Artigas',),
 ("Copa Bernardo O'Higgins",),
 ('Copa Carlos Dittborn',),
 ('Copa Chevallier Boutell',),
 ('Copa Confraternidad',),
 ('Copa Félix Bogado',),
 ('Copa Juan Pinto Durán',),
 ('Copa Lipton',),
 ('Copa Newton',),
 ('Copa Oswaldo Cruz',),
 ('Copa Paz del Chaco',),
 ('Copa Premio Honor Argentino',),
 ('Copa Premio Honor Uruguayo',),
 ('Copa Ramón Castilla',),
 ('Copa Rio Branco',),
 ('Copa Roca',),
 ('Copa del Pacífico',),
 ('Cup of Ancient Civilizations',),
 ('Cyprus International Tournament',),
 ('Dakar Tournament',),
 ('Dragon Cup',),
 ('Dunhill Cup',),
 ('Dynasty Cup',),
 ('EAFF Championship',),
 ('ELF Cup',),
 ('East Asian Games',),
 ('FIFA 75th Anniversary Cup',),
 ('FIFA World Cup',),
 ('FIFA World Cup qualification',),
 ('FIFI Wild Cup',),
 ('Four Nations Tournament',),
 ('Friendly',),
 ('GaNEFo',),
 ('Gold Cup',),
 ('Gold Cup qualification',),
 ('Great Wall Cup',),
 ('Guangzhou International Friendship Tournament',),
 ('Gulf Cup',),
 ('Hungary Heritage Cup',),
 ('Indonesia Tournament',),
 ('Inter Games Football Tournament',),
 ('Intercontinental Cup',),
 ('Island Games',),
 ('Joe Robbie Cup',),
 ('Jordan International Tournament',),
 ('King Hassan II Tournament',),
 ("King's Cup",),
 ('Kirin Challenge Cup',),
 ('Kirin Cup',),
 ('Korea Cup',),
 ('Kuneitra Cup',),
 ('Lunar New Year Cup',),
 ("MSG Prime Minister's Cup",),
 ('Mahinda Rajapaksa Cup',),
 ('Malta International Tournament',),
 ('Marlboro Cup',),
 ('Matthews Cup',),
 ('Mauritius Four Nations Cup',),
 ('Merdeka Tournament',),
 ('Merlion Cup',),
 ('Miami Cup',),
 ('Millennium Cup',),
 ('Mundialito',),
 ('Muratti Vase',),
 ('NAFC Championship',),
 ('NAFU Championship',),
 ('Nations Cup',),
 ('Navruz Cup',),
 ('Nehru Cup',),
 ('Niamh Challenge Cup',),
 ('Nile Basin Tournament',),
 ('Nordic Championship',),
 ('OSN Cup',),
 ('Oceania Nations Cup',),
 ('Oceania Nations Cup qualification',),
 ('Olympic Games',),
 ('Pacific Games',),
 ('Pacific Mini Games',),
 ('Palestine Cup',),
 ('Pan American Championship',),
 ('Peace Cup',),
 ('Phillip Seaga Cup',),
 ("Prime Minister's Cup",),
 ('Real Madrid 75th Anniversary Cup',),
 ('Rous Cup',),
 ('SAFF Cup',),
 ('SKN Football Festival',),
 ('Scania 100 Tournament',),
 ('Simba Tournament',),
 ('South Pacific Games',),
 ('Southeast Asian Games',),
 ('Southeast Asian Peninsular Games',),
 ('Superclásico de las Américas',),
 ('TIFOCO Tournament',),
 ('The Other Final',),
 ('Three Nations Cup',),
 ('Tournament Burkina Faso',),
 ('Tournoi de France',),
 ('Tri Nation Tournament',),
 ('Tynwald Hill Tournament',),
 ('UDEAC Cup',),
 ('UEFA Euro',),
 ('UEFA Euro qualification',),
 ('UEFA Nations League',),
 ('UNCAF Cup',),
 ('UNIFFAC Cup',),
 ('USA Cup',),
 ('United Arab Emirates Friendship Tournament',),
 ('VFF Cup',),
 ('Vietnam Independence Cup',),
 ('Viva World Cup',),
 ('WAFF Championship',),
 ('West African Cup',),
 ('Windward Islands Tournament',),
 ('World Unity Cup',),
 ('Évence Coppée Trophy',)]

In [104]:
# List of most important international cups:
# AFC Asian Cup, 24 Teams,
# Africa Cup of Nations, 24 Teams,
# African Cup of Nations qualification,
# African Nations Championship, 16 Teams,
# CONCACAF Gold Cup, 16 Teams,
# Copa America, 10 Teams,
# Copa América qualification,
# FIFA World Cup,
# FIFA World Cup qualification,
# OFC Nations Cup, 8 Teams,
# UEFA European Championship, 24 Teams,
# UEFA Nations League, 55 Teams

big_tournament_list = ['AFC Asian Cup', 'Africa Cup of Nations', 'African Nations Championship', 'CONCACAF Gold Cup', 'FIFA World Cup', 'OFC Nations Cup', 'UEFA Euro']

In [277]:
# Filtering matches at big tournaments
query_matches_at_big_tournaments\
     = ('''
        SELECT
            team,
            sum(matches_at_big_tournaments_at_home) AS matches_at_big_tournaments_at_home
        FROM
            (SELECT home_team AS team,
                count(*)  AS matches_at_big_tournaments_at_home
            FROM results
            WHERE country = home_team
            AND tournament IN ('AFC Asian Cup',
                              'Africa Cup of Nations',
                              'African Nations Championship',
                              'CONCACAF Gold Cup',
                              'FIFA World Cup',
                              'OFC Nations Cup',
                              'UEFA Euro')
            GROUP BY home_team
            UNION ALL
            SELECT away_team AS team,
                count(*)  AS matches_at_big_tournaments_at_home
            FROM results
            WHERE country = away_team
            AND tournament IN ('AFC Asian Cup',
                              'Africa Cup of Nations',
                              'African Nations Championship',
                              'CONCACAF Gold Cup',
                              'FIFA World Cup',
                              'OFC Nations Cup',
                              'UEFA Euro')
            GROUP BY away_team)
        AS subquery
        GROUP BY team
        ORDER BY matches_at_big_tournaments_at_home DESC;
        ''')

In [278]:
query_wins_at_big_tournaments\
     = ('''
        SELECT
            team,
            sum(wins_at_big_tournaments_at_home) AS wins_at_big_tournaments_at_home
-- subquery
        FROM (SELECT home_team AS team,
                count(*)  AS wins_at_big_tournaments_at_home
            FROM results
            WHERE result = 1
            AND country = home_team
            AND tournament IN ('AFC Asian Cup',
                                  'Africa Cup of Nations',
                                  'African Nations Championship',
                                  'CONCACAF Gold Cup',
                                  'FIFA World Cup',
                                  'OFC Nations Cup',
                                  'UEFA Euro')
            GROUP BY home_team
            UNION ALL
            SELECT away_team AS team,
                    count(*)  AS wins_at_big_tournaments_at_home
            FROM results
            WHERE result = 1
            AND country = away_team
            AND tournament IN ('AFC Asian Cup',
                              'Africa Cup of Nations',
                              'African Nations Championship',
                              'CONCACAF Gold Cup',
                              'FIFA World Cup',
                              'OFC Nations Cup',
                              'UEFA Euro')
            GROUP BY away_team)
        AS subquery
        GROUP BY team
        ORDER BY wins_at_big_tournaments_at_home DESC;
        ''')

In [279]:
query_losses_at_big_tournaments\
     = ('''
        SELECT
            team,
            sum(losses_at_big_tournaments_at_home) AS losses_at_big_tournaments_at_home
-- subquery
        FROM (SELECT home_team AS team,
                count(*)  AS losses_at_big_tournaments_at_home
            FROM results
            WHERE result = -1
            AND country = home_team
            AND tournament IN ('AFC Asian Cup',
                                  'Africa Cup of Nations',
                                  'African Nations Championship',
                                  'CONCACAF Gold Cup',
                                  'FIFA World Cup',
                                  'OFC Nations Cup',
                                  'UEFA Euro')
            GROUP BY home_team
            UNION ALL
            SELECT away_team AS team,
                    count(*)  AS losses_at_big_tournaments_at_home
            FROM results
            WHERE result = -1
            AND country = away_team
            AND tournament IN ('AFC Asian Cup',
                              'Africa Cup of Nations',
                              'African Nations Championship',
                              'CONCACAF Gold Cup',
                              'FIFA World Cup',
                              'OFC Nations Cup',
                              'UEFA Euro')
            GROUP BY away_team)
        AS subquery
        GROUP BY team
        ORDER BY losses_at_big_tournaments_at_home DESC;
        ''')

In [280]:
query_draws_at_big_tournaments\
     = ('''
        SELECT
            team,
            sum(draws_at_big_tournaments_at_home) AS draws_at_big_tournaments_at_home
-- subquery
        FROM (SELECT home_team AS team,
                count(*)  AS draws_at_big_tournaments_at_home
            FROM results
            WHERE result = 0
            AND country = home_team
            AND tournament IN ('AFC Asian Cup',
                                  'Africa Cup of Nations',
                                  'African Nations Championship',
                                  'CONCACAF Gold Cup',
                                  'FIFA World Cup',
                                  'OFC Nations Cup',
                                  'UEFA Euro')
            GROUP BY home_team
            UNION ALL
            SELECT away_team AS team,
                    count(*)  AS draws_at_big_tournaments_at_home
            FROM results
            WHERE result = 0
            AND country = away_team
            AND tournament IN ('AFC Asian Cup',
                              'Africa Cup of Nations',
                              'African Nations Championship',
                              'CONCACAF Gold Cup',
                              'FIFA World Cup',
                              'OFC Nations Cup',
                              'UEFA Euro')
            GROUP BY away_team)
        AS subquery
        GROUP BY team
        ORDER BY draws_at_big_tournaments_at_home DESC;
        ''')

In [281]:
df_matches = pd.read_sql(query_matches_at_big_tournaments, connection, index_col='team')
df_wins = pd.read_sql(query_wins_at_big_tournaments, connection, index_col='team')
df_losses = pd.read_sql(query_losses_at_big_tournaments, connection, index_col='team')
df_draws = pd.read_sql(query_draws_at_big_tournaments, connection, index_col='team')

In [282]:
big_tournament_df = df_matches.join([df_wins, df_losses, df_draws], how='outer')

In [283]:
big_tournament_df

,matches_at_big_tournaments_at_home,wins_at_big_tournaments_at_home,losses_at_big_tournaments_at_home,draws_at_big_tournaments_at_home
team,,,,
France,23.0,17.0,4.0,2.0
Italy,22.0,15.0,NaN,7.0
Germany,21.0,14.0,4.0,3.0
Qatar,18.0,10.0,7.0,1.0
England,17.0,11.0,NaN,6.0
Brazil,13.0,7.0,3.0,3.0
United Arab Emirates,12.0,7.0,1.0,4.0
South Korea,10.0,6.0,2.0,2.0
Spain,10.0,4.0,2.0,4.0
Sweden,10.0,6.0,2.0,2.0
Mexico,9.0,5.0,1.0,3.0
Japan,9.0,5.0,1.0,3.0
Iran,8.0,8.0,NaN,NaN
Netherlands,8.0,7.0,NaN,1.0
Thailand,8.0,1.0,3.0,4.0
Switzerland,7.0,3.0,4.0,NaN
Russia,7.0,3.0,2.0,2.0
Argentina,7.0,5.0,1.0,1.0
China PR,6.0,3.0,1.0,2.0
Australia,6.0,5.0,1.0,NaN
Chile,6.0,4.0,2.0,NaN
Kuwait,6.0,4.0,1.0,1.0
Portugal,6.0,3.0,2.0,1.0
Belgium,5.0,2.0,3.0,NaN
United States,4.0,1.0,2.0,1.0
Singapore,4.0,1.0,2.0,1.0
Uruguay,4.0,4.0,NaN,NaN
Lebanon,3.0,NaN,1.0,2.0
Vietnam,3.0,1.0,1.0,1.0
South Africa,3.0,1.0,1.0,1.0
Indonesia,3.0,1.0,2.0,NaN
Denmark,3.0,1.0,2.0,NaN
Austria,3.0,NaN,2.0,1.0
Israel,3.0,3.0,NaN,NaN
Hong Kong,3.0,NaN,1.0,2.0
Ukraine,3.0,1.0,2.0,NaN
Poland,3.0,NaN,1.0,2.0
Malaysia,3.0,NaN,3.0,NaN
Scotland,2.0,NaN,2.0,NaN
Yugoslavia,2.0,NaN,2.0,NaN
Hungary,2.0,NaN,1.0,1.0
Wales,1.0,NaN,NaN,1.0

In [284]:
big_tournament_df.reset_index(inplace=True)

In [285]:
big_tournament_df

,team,matches_at_big_tournaments_at_home,wins_at_big_tournaments_at_home,losses_at_big_tournaments_at_home,draws_at_big_tournaments_at_home
0,France,23.0,17.0,4.0,2.0
1,Italy,22.0,15.0,NaN,7.0
2,Germany,21.0,14.0,4.0,3.0
3,Qatar,18.0,10.0,7.0,1.0
4,England,17.0,11.0,NaN,6.0
5,Brazil,13.0,7.0,3.0,3.0
6,United Arab Emirates,12.0,7.0,1.0,4.0
7,South Korea,10.0,6.0,2.0,2.0
8,Spain,10.0,4.0,2.0,4.0
9,Sweden,10.0,6.0,2.0,2.0
10,Mexico,9.0,5.0,1.0,3.0
11,Japan,9.0,5.0,1.0,3.0
12,Iran,8.0,8.0,NaN,NaN
13,Netherlands,8.0,7.0,NaN,1.0
14,Thailand,8.0,1.0,3.0,4.0
15,Switzerland,7.0,3.0,4.0,NaN
16,Russia,7.0,3.0,2.0,2.0
17,Argentina,7.0,5.0,1.0,1.0
18,China PR,6.0,3.0,1.0,2.0
19,Australia,6.0,5.0,1.0,NaN
20,Chile,6.0,4.0,2.0,NaN
21,Kuwait,6.0,4.0,1.0,1.0
22,Portugal,6.0,3.0,2.0,1.0
23,Belgium,5.0,2.0,3.0,NaN
24,United States,4.0,1.0,2.0,1.0
25,Singapore,4.0,1.0,2.0,1.0
26,Uruguay,4.0,4.0,NaN,NaN
27,Lebanon,3.0,NaN,1.0,2.0
28,Vietnam,3.0,1.0,1.0,1.0
29,South Africa,3.0,1.0,1.0,1.0
30,Indonesia,3.0,1.0,2.0,NaN
31,Denmark,3.0,1.0,2.0,NaN
32,Austria,3.0,NaN,2.0,1.0
33,Israel,3.0,3.0,NaN,NaN
34,Hong Kong,3.0,NaN,1.0,2.0
35,Ukraine,3.0,1.0,2.0,NaN
36,Poland,3.0,NaN,1.0,2.0
37,Malaysia,3.0,NaN,3.0,NaN
38,Scotland,2.0,NaN,2.0,NaN
39,Yugoslavia,2.0,NaN,2.0,NaN
40,Hungary,2.0,NaN,1.0,1.0
41,Wales,1.0,NaN,NaN,1.0

In [287]:
# connection.execute(text('DROP TABLE IF EXISTS big_tournament_results;'))

In [288]:
big_tournament_df.to_sql('big_tournament_results', connection, index='index')

42

In [295]:
query_rates_at_home =   '''
                        SELECT
                        team,
                        ROUND((wins_at_big_tournaments_at_home::NUMERIC/matches_at_big_tournaments_at_home::NUMERIC), 2)
                            AS win_rate_at_home,
                        ROUND((losses_at_big_tournaments_at_home::NUMERIC/matches_at_big_tournaments_at_home::NUMERIC), 2)
                            AS lose_rate_at_home,
                        ROUND((draws_at_big_tournaments_at_home::NUMERIC/matches_at_big_tournaments_at_home::NUMERIC), 2)
                            AS draw_rate_at_home
                        FROM big_tournament_results;
                        '''

In [296]:
rates_at_home_df = pd.read_sql(query_rates_at_home, connection)

In [297]:
rates_at_home_df.sort_values(by='win_rate_at_home', ascending=False)

,team,win_rate_at_home,lose_rate_at_home,draw_rate_at_home
26,Uruguay,1.00,NaN,NaN
12,Iran,1.00,NaN,NaN
33,Israel,1.00,NaN,NaN
13,Netherlands,0.88,NaN,0.13
19,Australia,0.83,0.17,NaN
0,France,0.74,0.17,0.09
17,Argentina,0.71,0.14,0.14
1,Italy,0.68,NaN,0.32
21,Kuwait,0.67,0.17,0.17
20,Chile,0.67,0.33,NaN
2,Germany,0.67,0.19,0.14
4,England,0.65,NaN,0.35
9,Sweden,0.60,0.20,0.20
7,South Korea,0.60,0.20,0.20
6,United Arab Emirates,0.58,0.08,0.33
11,Japan,0.56,0.11,0.33
3,Qatar,0.56,0.39,0.06
10,Mexico,0.56,0.11,0.33
5,Brazil,0.54,0.23,0.23
22,Portugal,0.50,0.33,0.17
18,China PR,0.50,0.17,0.33
16,Russia,0.43,0.29,0.29
15,Switzerland,0.43,0.57,NaN
23,Belgium,0.40,0.60,NaN
8,Spain,0.40,0.20,0.40
28,Vietnam,0.33,0.33,0.33
29,South Africa,0.33,0.33,0.33
30,Indonesia,0.33,0.67,NaN
31,Denmark,0.33,0.67,NaN
35,Ukraine,0.33,0.67,NaN
24,United States,0.25,0.50,0.25
25,Singapore,0.25,0.50,0.25
14,Thailand,0.13,0.38,0.50
27,Lebanon,NaN,0.33,0.67
32,Austria,NaN,0.67,0.33
34,Hong Kong,NaN,0.33,0.67
36,Poland,NaN,0.33,0.67
37,Malaysia,NaN,1.00,NaN
38,Scotland,NaN,1.00,NaN
39,Yugoslavia,NaN,1.00,NaN
40,Hungary,NaN,0.50,0.50
41,Wales,NaN,NaN,1.00

In [250]:
# TEST
results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
46284,2024-02-07,Ivory Coast,DR Congo,1,0,African Cup of Nations,Ebimpé,Ivory Coast,False
46285,2024-02-07,Nigeria,South Africa,1,1,African Cup of Nations,Bouaké,Ivory Coast,True
46286,2024-02-10,Qatar,Jordan,3,1,AFC Asian Cup,Lusail,Qatar,False
46287,2024-02-10,South Africa,DR Congo,0,0,African Cup of Nations,Abidjan,Ivory Coast,True
46288,2024-02-11,Ivory Coast,Nigeria,2,1,African Cup of Nations,Ebimpé,Ivory Coast,False

In [ ]:
results

## goalscorers

## shootouts